
.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.app-wrapper-content {
  grid-row: 2;
  width: 100%;

}

#light{
  background-color: whitesmoke;

}
#dark{
  background-color: #2b2b2b;

}


